.login {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login>.In {
    box-shadow: 0 0 15px 5px grey;
    width: 500px;
    background: #fff;
    border-radius: 15px;
    border: 0 2px 4px rgba(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

    display: flex;
    align-items: center;
    flex-direction: column;
}

.headLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.In>input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 80%;
    font-size: 1rem;

}

.In>.button,
.NavClass {
    background: #1877f2;
    border: 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    width: 60%;
    text-decoration: none;
}

h1 {
    /* font-family: 'Oswald', sans-serif; */
}

.or {
    font-weight: bold;
    font-size: 20px;
}


.sLogin {
    background: #1877f2;
    border: 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.head {
    display: flex;
    flex-direction: column;
}

.manishLogin {
    display: flex;
    justify-content: right;
    flex-direction: row;

}
.manishLogin > button{
    margin:20px;
}